{% extends 'base.html' %}

{% block content %}

{% block content_header %}
<h2>Projects</h2>
<p>
  <a href="{% url 'upload_project' %}" class="btn btn-primary">Upload project</a>
</p>
{% endblock %}

<table class="table mb-0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Download</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.projectName }}</td>
      <td>
        <a href="{{ project.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
          Download PDF
        </a>
      </td>
      <td>
        <form method="post" action="{% url 'delete_project' project.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}